@import './../../../style/index.scss';

.mp-pay{
    width:749px;
    height:334px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(255,255,255,1);

    &-detail{
        text-align:center;
        font-size:32px;
        font-family:PingFangSC;
        font-weight:400;
        color:rgba(60,60,60,1);
        line-height:45px;
    }

    &-success{

    }

    &-result{
        text-align: center;
        height: 115px;
        line-height: 115px;
    }

    &-action{
        &>view{
            width:80%;
            height:84px;
            text-align: center;
            margin: 0 auto;
            background:rgba(255,255,255,1);
            border:1px solid rgba(255,255,255,1);
            border-radius: 10px;
            background: #7dd6d0;
            line-height: 84px;
            color: #FFFFFF;
            margin-top: 30px;
        }
    }
}

.at-float-layout .layout-body {
    font-size: 28px;
    padding: 18px;
    min-height: 0rpx;
    height: 20px;
 }

 .at-float-layout__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 336rpx;
    max-height: 950rpx;
    background-color: #FFF;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    -o-transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1), -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
}