@import '../../../style/layout.scss';
@import '../../../style/icon.scss';
@import '../../../style/base.scss';
@import '../../../style/element.scss';

$panelBgColor:rgba(255,255,255,1);

.mp-active{
    background:$userHomeBgColor;
    
    .item{
        @include flex(row);
        line-height: 90px;
        height: 90px;
        background: $panelBgColor;

        > text{
            padding-left: 16px;
        }

        > input{
            line-height: 90px;
            height: 90px;
            padding-left: 14px;
        }

        &:after{
            content: " ";
            box-sizing: border-box;
            height: 0;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }
        
        .mp-publish{
            font-family: "iconfont" !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position:absolute;
            right:36px;
        }
        .picker{
            padding-left: 18px;
        }

        .time{
            padding-left: 18px;
        }
    }

    .uploadImage{
        background: $panelBgColor;
    }

    .publish{
        width: 100%;
        margin-top: 32px;
        background: $panelBgColor;

        > view{
            @include btn($size:36px,$color:#fff,$bgcolor:#7DD6D0,$padding:5px,$radius:5px);
            height: 96px;
            margin: 30px;
            width: 91%;
            margin-top: 20px;
            line-height: 96px;
            text-align: center;
        }
    }
}