.mp-user{
    background:rgba(245,245,249,1);
    height: 1450px;

    /* elements */
    &__info{
        width:750px;
        height:169px;
        background:rgba(125,214,208,1);
        opacity:0.7;
        border:1px solid rgba(125,214,208,1);

        &-avatar{
            float: left;
            padding: 35px 0 0 35px;
        }

        &-message{
            padding-left: 9px;
            height: 80px;
            float: left;
        }

        &-money{
            float: right;
        }
    }

    &__user{
        &-username{
            width:252px;
            height:50px;
            font-size:36px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:50px;
            padding-top: 31px;
        }

        &-level{
            width:149px;
            height:33px;
            background:rgba(255,255,255,0.6);
            border-radius:18px;
            border:1px solid rgba(255,255,255,1);
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,192,105,1);
            line-height: 33px;
            text-align: center;
            margin-top: 10px;
        }

        &-level-up{
            position: relative;
            top:-33rpx;
            left:161rpx;
            width:96px;
            height:33px;
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:33px;
        }
    }

    &__money{
        &-amount{
            width:250px;
            height:67px;
            font-size:48px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:67px;
            padding: 25px 0px 24px 0px;
        }

        &-order{
            position: relative;
            top:-20rpx;
            left:131rpx;
            height:33px;
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:33px;
        }
    }

    &__income{
        width:750px;
        height:169px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(255,255,255,1);
        display: flex;
        flex-direction: row;

        &-left{
            flex: 1;
            height: 60px;
            text-align: center;
        }

        &-text{
            height:67px;
            font-size:48px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(125,214,208,1);
            line-height:67px;
            padding-top: 23px;
        }

        &-text-desc{
            height:40px;
            font-size:28px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(145,145,145,1);
            line-height:40px;
            padding-top: 13px;
        }

        &-middle{
            flex: 1;
            height: 60px;
            text-align: center;
        }

        &-right{
            flex: 1;
            height: 60px;
            text-align: center;
        }
    }

    &__publish{
        margin: 19px;
        height:96px;
        background:rgba(255,255,255,1);
        border-radius:8px;
        border:1px solid rgba(255,255,255,1);

        &-introduce{
            position: relative;
            left: 47px;
            top: 30px;
            width:383px;
            height:40px;
            font-size:28px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:40px;
            -webkit-text-stroke:1px rgba(0,0,0,1);
        }

        &-action{
            position:relative;
            right:32px;
            top:-21px;
            float:right;
            width:140px;
            height:60px;
            background:rgba(125,214,208,1);
            border-radius:6px;
            text-align: center;

            >Text{
                height:26px;
                font-size:26px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(255,255,255,1);
                line-height:26px;
                text-align: center;
            }
        }
    }

    &__order{
        margin: 19px;
        height:227px;
        background:rgba(255,255,255,1);
        border-radius:8px;
        border:1px solid rgba(255,255,255,1); 

        &-title{
            font-size:32px;
            font-family:PingFangSC-Medium;
            font-weight:500;
            color:rgba(60,60,60,1);
            line-height:45px;
            padding-left: 20px;
            height: 76px;
            line-height: 76px;
        }

        &-queryall{
            float: right;
            width:156px;
            height:33px;
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(145,145,145,1);
            line-height:33px;
            padding-top:25px;
        }
    }

    &__ordernav{
        height:148px;
        background:rgba(255,255,255,1);
        display: flex;
        flex-direction: row;
        text-align: center;
        border-top:1px solid rgba(221,221,221,1);

        &-tuan{
            flex: 1;
        }

        &-icon{
            height:81px;
            line-height: 81px;
        }

        &-text{
            height:44px;
            font-size:28px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(145,145,145,1);
            line-height:40px;
        }

        &-customer{
            flex: 1;
        }

        &-comment{
            flex: 1;
        }

        &-refund{
            flex: 1;
        }
    }

    &__controlpanel{
        margin: 19px;
        height:270px;
        background:rgba(255,255,255,1);
        border-radius:8px;
        border:1px solid rgba(255,255,255,1);
        display: flex;
        flex-direction: row;
        text-align: center;
        flex-wrap:wrap;

        &-icon{
            height:81px;
            line-height: 81px;
        }

        &-text{
            height:44px;
            font-size:28px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(145,145,145,1);
            line-height:40px;
        }
        
        &-active{
            width: 177px;
        }

        &-product{
            width: 177px;
        }

        &-customer{
            width: 177px;
        }

        &-account{
            width: 177px;
        }

        &-invite{
            width: 177px;
        }

        &-close{
            width: 177px;
        }

        &-appoint{
            width: 177px;
        }
    }

    /* modifiers */
    &-changeuser{
        background: #FFFFFF;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 108px;
        border: 1px solid #E8E8E8;
        width: 544px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        font-size:36px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(125,214,208,1);
    }
}