@import '../../../style/index.scss';

.mp-history{
    background:rgba(245,245,249,1);

    .list-title{
        display: flex;
        flex-direction: row;
        height: 50px;
        line-height: 50px;
    }
    .list-title>view:nth-child(1){
        width: 30%;
        margin-left: 10px;
        color:rgba(187,187,187,1);
    }
    .list-title>view:nth-child(2){
        margin-left: 10px;
        width: 50%;
    }
    .list-title>view:nth-child(3){
        font-size:32px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        margin-left: 10px;
        width: 20%;
        color:#7DD6D0;
    }

    .list-wrapper{
        margin: 20px;
        display:flex;
        flex-direction: column;
        border-radius: 10px;
        height: 276x;
        border-bottom:1px solid #F5F5F9;
        background: #FFFFFF;
    }
    .list-wrapper-header{
        display:flex;
        flex-direction: row;

        &>View:nth-child(1){
            margin-top: 20px;
            margin-left: 20px;
            width: 50%;
            text-align: left;
            font-size:28px;
            font-family:PingFangSC;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:40px;
            -webkit-text-stroke:1px rgba(232,232,232,1);
        }

        &>View:nth-child(2){
            margin-top: 20px;
            margin-right: 20px;
            width: 50%;
            text-align: right;
            color: #7DD6D0;
        }
    }

    .list-wrapper-content{
        display:flex;
        flex-direction: row;
        height: 180px;
        margin-top: 16px;
    }

    .list-wrapper-content>view:nth-child(1){
        width: 30%;
        &>image{
            width: 140px;
            height: 140px;
            margin-left: 20px;
            border-radius: 8px;
        }
    }
    .list-wrapper-content>view:nth-child(2){
        display: flex;
        flex-direction: column;
        width: 65%;
        font-size:28px;
        font-family:PingFangSC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:40px;
        -webkit-text-stroke:1px rgba(232,232,232,1);

        &>View{
            line-height: 50px;
            height: 50px;
        }
    }
}
