@import '../../../style/base.scss';
@import '../../../style/layout.scss';
@import '../../../style/icon.scss';

$pageBgColor: #ffffff;
page{
    margin:0;
    height:100%;    
}    

.mp-advert{
    height: 100%;
    margin: 0px;
    padding: 0px;

    >image{
            width: 180px;
            height: 180px;
        }

    .thumbnail-wrapper{
        position: fixed;
        bottom: 0px;
        height: 167px;
        width: 100%;
        overflow-x: scroll;
        background: #ffffff;

        .thumbnail{
            display: flex;

            >View,image{
                margin-top: 13px;
                margin-left: 15px;
                margin-right: 15px;
                width: 120px;
                height: 120px;
                flex-shrink: 0;
                border-radius: 20px;
            }

            >View,image:nth-child(1){
                margin-left: 10px;
            }

            .mask{
                position:relative;
                top:-132px;
                left:11px;
                width:120px;
                height:120px;
                opacity:.5;
                background:#000;
                border-radius: 20px;
                text-align:center;
                line-height:120px;
            }

        }
    }
}

.shareImage{
    width: 100% !important;
}

.image-save{
    position: fixed;
    right: -10px;
    top:40px;
    line-height: 50px;
    text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 30px;
    opacity: 0.8;
}