@import "./layout.scss";
@mixin btn($size:14px,$color:#fff,$bgcolor:#7DD6D0,$padding:5px,$radius:5px){
    padding: $padding;
    background-color: $bgcolor;
    border-radius: $radius;
    border: 1px solid $bgcolor;
    font-size: $size;
    color: $color;
    text-align: center;
    line-height: 1;
    display: inline-block;
}
@mixin list($direction:column){
    @include flex($direction);
}
@mixin panel($margin:18px,$height:356px){
    background: #ffffff;
    height: $height;
    margin: $margin;
    border-radius: 8px;
}
@mixin panelItem($height:276px){
    margin: 20px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    height: $height;
    border-bottom:1px solid #F5F5F9;
    background: #FFFFFF;
    -webkit-box-shadow:1px 2px 4px  #f4f4f4;
    -moz-box-shadow:1px 2px 4px  #f4f4f4;
    box-shadow:1px 2px 4px #f4f4f4;
}