@import './../../../style/base.scss';
@import './../../../style/icon.scss';
@import './../../../style/layout.scss';

.mp-order-detail{
    background: $panelBgColor;

    .tips{
        width:750px;
        height:197px;
        background:rgba(125,214,208,1);
        opacity:0.7;
        border:1px solid rgba(125,214,208,1);

        >text:nth-child(1){
            position: relative;
            top: 41px;
            left: 35px;
            width:180px;
            height:50px;
            font-size:36px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:50px;
        }

        >text:nth-child(2){
            position: relative;
            top: 108px;
            left: -145px;
            width:312px;
            height:33px;
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:33px;
        }

        >text:nth-child(3){
            float: right;
            color: #ffffff;
            top: 20px;
            width:80px;
            height:80px;
            margin-top: 51px;
            margin-right: 60px;
        }
    }

    .customer{
        width:749px;
        height:160px;
        background: #ffffff;
        margin-top: 18px;
        border:1px solid rgba(255,255,255,1);

        >text:nth-child(1){
            float:left;
            margin-top:25rpx;
            margin-left:13rpx;
        }

        >view {
            margin-top: 27px;
            margin-left: 72px;
            font-size:32px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(60,60,60,1);
            line-height:45px;

            .tel{
                margin-top: 20px;
            }
        }
    }

    .ping{
        width:749px;
        height:160px;
        margin-top: 18px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(255,255,255,1);

        >text:nth-child(1){
            float:left;
            margin-top:25rpx;
            margin-left:13rpx;
            margin-right: 18px;
        }

        .text{
            margin-top: 25px;
            font-size:32px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(60,60,60,1);
            line-height:45px;
        }

        .group{
            @include flex(row);

            .person{
                margin-top: 12px;
                margin-left: 20px;
                border: 0px solid rgba(151,151,151,1);
                border-radius: 40px;
                text-align: center;
                width: 64px;
                height: 64px;
                background: rgba(125,214,208,1);
            }

            .person:nth-child(1){
                margin-left: 0px;
            }
        }
    }

    .product{
        width:749px;
        height:466px;
        margin-top: 18px;
        background:rgba(255,255,255,1);
        border:2px solid rgba(255,255,255,1);

        .appoint{
            height: 79px;
            line-height: 79px;
            border-bottom:0.5px solid rgba(221,221,221,1);
            font-size:24px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(145,145,145,1);


            >text:nth-child(1){
                margin-left: 20px;
            }

            >text:nth-child(2){
                float:right;
                margin-right: 20px;
                .amount{
                    color: #EB2F96;
                }
            }
        }

        .service{
            @include flex(row);
            margin-top: 10px;
            height: 60px;
            line-height: 60px;

            .margin8{
                margin-right: 8px;
            }
            .wechat{
                flex: 1;
                text-align: center;
                border-right:0.5px solid #ddd;
            }
            .tel{
                flex: 1;
                text-align: center;
            }
        }
    }
    .footer{
        margin-top: 18px;
        width:749px;
        height:800px;
        background:rgba(255,255,255,1);

        .code{
            border-bottom: 1px solid #ddd;
            height: 446px;



            .wrap{
                height: 16px;
                line-height: 16px;
                width: 90px;
                border-radius: 10px;
            }

            .sequence{
                text-align: center;
                padding: 0px;
                width: 494px;
                height: 80px;
                line-height: 80px;
                margin: 0 auto;
                background: #FFF7E6;
                display: block;
            }

            .qrCode{
                width: 306px;
                height: 306px;
                background: gainsboro;
                margin: 0 auto;
                margin-top: 16px;
                margin-bottom: 24px;
            }
        }
    }

    .info{
        >view{
            margin-left: 49px;
            line-height: 70px;
            height: 70px;
            font-size:22px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(191,191,191,1);
        }

        .copy{
            position: relative;
            color: #7DD6D0;
            margin-left: 20px;
        }
    }
}