@import '../../../style/base.scss';
@import '../../../style/layout.scss';

.mp-edit-user{
    
    .qrCode{
        .label{
            position: relative;
            left: 30px;
            top: 50px;
            font-size:32rpx;
        }
    }
    .uploadPicker{
        position: relative;
        left: 490px;
        top: -20px;
    }
   
}
