@import '../../../style/base.scss';
@import '../../../style/layout.scss';

.mp-edit-user{
    height: 750rpx;
    background: #ffffff;

    .qrCode{
        .label{
            position: relative;
            left: 30px;
            top: 50px;
            font-size:32rpx;
        }
    }
    .uploadPicker{
        position: relative;
        left: 190px;
        top: -20px;
    }
 
    .user-submit{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 64px;
    }
}
