@import '../../../style/base.scss';
@import '../../../style/layout.scss';

.mp-edit-user{
    height: 960px;
    background: #ffffff;

    .qrCode{
        .label{
            position: relative;
            left: 30px;
            top: 50px;
            font-size:32rpx;
        }
    }
    .uploadPicker{
        position: relative;
        left: 190px;
        top: -20px;
    }
 
    .user-submit{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 64px;
    }

    .address{
        display: block;
    }

    .region{
        position: relative;
        top: -36px;
        left: 215px;
        height: 67px;
        width: 78%;
        line-height: 67px;
    }

    .activelabel{
        position: relative;
        left: 28px;
        top: 14px;
        display: inline-block;
    }
}


