@import '../../../../style/index.scss';
// @import "~taro-ui/dist/style/components/icon.scss";

image {
    height: 240px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}
.mp-history{
    .list-title{
        display: flex;
        flex-direction: row;
        height: 50px;
        line-height: 50px;
    }
    .list-title>view:nth-child(1){
        width: 30%;
        margin-left: 10px;
        color:rgba(187,187,187,1);
    }
    .list-title>view:nth-child(2){
        margin-left: 10px;
        width: 50%;
     
    }
    .list-title>view:nth-child(3){
        font-size:32px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        margin-left: 10px;
        width: 20%;
        color:#7DD6D0;
    }

    .list-wrapper{
        display:flex;
        flex-direction: row;
        height: 180px;
        border-top:1px solid #F5F5F9;
        border-bottom:1px solid #F5F5F9;
        background: #FFFFFF;
    }

    .list-wrapper>view:nth-child(1){
        &>image{
            width: 150px;
            height: 150px;
            margin: 12px 20px 0 20px;
        }
    }
 
    .list-wrapper>view:nth-child(2){
        width: 53%;
        height: 60px;
        line-height: 60px;
        font-size:32px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(187,187,187,1);
    }
}

.rateItem{
    position: relative;
    top: -45px;
    left: 228px;
    font-size: 24px;
}
.address{
    position: relative;
    top: -55px;
    display: flex;
    flex-direction: row;
    width: 550px;
    font-size: 24px;
}
.zixun-number{
    display:inline-block;
    margin: 7px
}
.zixun-wechat{
    display: inline-block;
    // margin-left: 10px;
    position: relative;
    top: 10px;
    left: 4px;
}
.zixun-arrow{
    color:#7dd6d0;
    font-size:48px;
    margin-top: 68px;
    margin-left: 8px;
}
.mp-history-zixun{
    display:flex;
    width: 200px;
    height: 160px;
    line-height: 160px;
    
    &>Text{
        padding:10px;
    }
}