 // todo learn background 属性的用法: https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
     // https://www.cnblogs.com/pandawind/p/9771579.html
     .warpper{
        background:url('http://art.laoliwuyou.com/image/share_bg_01.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width:750px;
        height:100%;

        .layer{
            background:url('http://art.laoliwuyou.com/image/share_layer_01.png');
            width:519px;
            height:917px;
            background-size: cover;
            margin: 0 auto;

            .header{
                display: flex;
                flex-direction: row;
                padding-top: 252px;

                .avatar{
                    width: 80px;
                    height: 80px;
                    background: red;
                    border-radius: 100px;
                    margin-left: 50px;
                }

                .desc{
                    margin-left: 20px;

                    >view:nth-child(1){
                        font-size:28px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(0,0,0,1);
                        line-height:40px;
                        -webkit-text-stroke:1px rgba(232,232,232,1);
                    }

                    >view:nth-child(2){
                        font-size:24px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(145,145,145,1);
                        line-height:33px;
                        -webkit-text-stroke:1px rgba(232,232,232,1);
                        text-stroke:1px rgba(232,232,232,1);
                    }
                }
            }

            .title{
                text-align: center;
                height:112px;
                margin: 30px;
                font-size:30px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(0,0,0,1);
                line-height:56px;
            }

            .master{
                text-align: center;
                font-size:30px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(0,0,0,1);
                -webkit-text-stroke:1px rgba(232,232,232,1);
            }

            .qrCode-detail{
                text-align: center;
                margin-top: 10px;
                font-size:30px;
                font-family:PingFangSC-Regular;
                font-weight:400;
                color:rgba(0,0,0,1);
            }

            .qrCode{
                width: 180px;
                height: 180px;
                margin: 0 auto;
                margin-top: 10px;

                >image{
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }