.image-save{
    position: fixed;
    right: -10px;
    top:40px;
    line-height: 50px;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    font-size: 30px;
    opacity: 0.8;
}